
<div class="container">
    <div class="row chart-row">
        <div class="col-md-8">
            <h3 class="chart-title">New Flags in Need of Review</h3>
            <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
        </div>
        <!-- <div class="col-md-2">
          <h3 class="chart-title">Reviewed Flags</h3>
        </div> -->
        <div class="col-md-4 border">
          <h3 class="chart-title">Welcome</h3>
          <p>Welcome to the NRAQC software web interface. This is your priamry dashboard from which you can view currently flagged data in need of review. Click on a slice of the donught chart to visualize flagged datastreams.</p>
        </div>
    </div>
</div>
