<div class="window container">
    <div class="row toggle-button-row">
        <div class="col-sm-10"></div>
        <div class="toggle-on button col-sm-2" (click)="toggleEditing()">Edit</div>
    </div>
    <h1 class="subtitle">{{testTitle}} Test</h1>
    <ng-container *ngIf="!editable">
      <ul>
        <li class="row"> <h4 class="col-sm-6"> Test Parameter Name </h4> <h4 class="col-sm-6"> Current Parameter Value </h4> </li>
        <li class="row" *ngFor="let param of arrayParams">
           <h4 class="col-sm-6"> {{param['displaykey']}} </h4>
           <h4 class="col-sm-6"> {{param['value']}} </h4>
         </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="editable">
      <ul>
        <li class="row"> <h4 class="col-sm-4"> Test Parameter Name </h4> <h4 class="col-sm-4"> Current Parameter Value </h4> <h4 class="col-sm-4"> New Parameter Value </h4>   </li>
        <li class="row" *ngFor="let param of arrayParams">
           <h4 class="col-sm-4"> {{param['displaykey']}} </h4>
           <h4 class="col-sm-4"> {{param['value']}} </h4>
          <input [(ngModel)]="param['newValue']" (keyup)="updateNewValue(param, $event)" class="col-sm-4"/>
         </li>
      </ul>
    </ng-container>
    <div class="row" *ngIf="!formModified"><div class="button col-sm-4" (click)="goBack()">Return to Previous Screen</div></div>
    <div class="row" *ngIf="formModified"><div class="button col-sm-4" (click)="undoChanges()">Undo Changes</div><div class="button col-sm-4" (click)="saveChanges()">Save Changes</div></div>
    <div class="row shadow-sm alert alert-danger text-center" *ngIf="saveError">There was an error saving your test parameters. Paramater values can only be floats or integers and cannot be empty.</div>
    <div class="row shadow-sm alert alert-success text-center" *ngIf="saveSuccess">Your test parameters were successfully modified and saved on the server.</div>
</div>
