
:host ::ng-deep .flag{
    fill: none !important;
    stroke-width: 2px !important;
    stroke: rgba(200,20,20,1.0) !important;
}

:host ::ng-deep .line{
    fill: none !important;
    stroke-width: 2px !important;
    stroke: rgba(20,20,200,1.0) !important;
}
