<?xml version="1.0" ?><DataStreams>
	<DataStream>
		<Stream>63</Stream>
		<Test>
			<Type>Bounds</Type>
			<Max>27.5</Max>
			<Min>-39.8</Min>
		</Test>
		<Test>
			<Type>Repeat Value</Type>
			<RepeatThreshold>3</RepeatThreshold>
		</Test>
	</DataStream>
	<DataStream>
		<Stream>66</Stream>
		<Test>
			<Type>Bounds</Type>
			<Max>28.5</Max>
			<Min>-19.7</Min>
		</Test>
		<Test>
			<Type>Repeat Value</Type>
			<RepeatThreshold>5</RepeatThreshold>
		</Test>
	</DataStream>
</DataStreams>