<h1 id="About-Title">About this Project</h1>
<hr align="center" width="50%">
<div id="About-Project" align="center">
  <div class="column left">
    <h2>The NRDC Quality Control Application</h2>
    <p>
    	The Nevada Research Data Center (NRDC) is a data portal aimed at collecting
    	environmental data from remote sensing sites spread throughout the state.
    	This data streams from physical data loggers that are placed in locations
    	far from human occupancy. As such, these loggers are vulnerable to the
    	mercy of wildlife or environmental harm. These actions would in the end
    	cause inaccurate readings streamed to the central NRDC database. However
    	these erroneous data points cannot go unattended. The NRDC aims to provide
    	the broader scientific community with a quality data product. As such, the
    	NRDC Quality Control (QC) Application comes into play. The QC Application
    	provides data stewards and technicians whom are affiliated with the project
    	the ability to set controlled tests and indicate erroneous data with flags.
    	This flagging of data is then managed autonomously (and sometimes manually)
    	and erroneous is then removed.
    </p>
  </div>
</div>


<h1 id="About-Title">About Us</h1>
<hr align="center" width="50%">
<div id="About-Us" align="center">
  <div class="column left">
    <h2>Connor Scully-Allison</h2>
    <p>
    	Connor Scully Allison is lead devloper and designer on this project. This software and assocaited packages consitutes the majority of his Master's thesis.
    </p>
  </div>
  <div class="column right">
    <h2></h2>
    <p></p>
  </div>
</div>
