#About-Title {
    text-align: center;
}
#About-Project{
    margin: auto;
    text-align: left;
    width: 80%
}

.button{
    width: 300px;
    padding: 30px;

    border: 1px solid black;

    text-align: center !important;

    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button:hover{
    background: rgba(0,0,0,.9);
    color: white;
    border: 1px solid white;
}
