ul, li {
    padding: 0;
    list-style-type: none;
}

ul{
}


.ok {
    background-color: green;
}

.bad {
    background-color: red;
}

.value {
    display: inline-block;
    min-width: 250px;
    min-height: 15px;

    border: 1px black solid;

    padding-top: 10px;
}

.timestamp{
    display: inline-block;

    min-width: 250px;
    min-height: 50px;

    min-height: 15px;
    padding-top: 10px;

    border: 1px black solid;
}

div{
  border: 1px solid black;
}

#chart-view{
  min-width: 100%;
  position: absolute;
}

#chart-container {
  max-width: 50em;
  max-height: 20em;

  text-align: center;
}
