<!-- <div class="container"> -->
  <div class="row"><h3 class="col-lg-10">Queried Measurments for {{passedData["Deployment Name"]}}</h3></div>
  <div class="row"><h4 class="col-lg-10">DataStream: {{passedData["streamID"]}}</h4></div>
  <div class="row">
    <div class="col-lg-3">
      <div class="button">Add DataStream</div>
      <div class="button">Manual Flag</div>
      <div class="button">Review Flags</div>
    </div>
    <div class="col-lg-9">
      <canvas *ngIf="loadingDone"
                  baseChart
                  [data]="data"
                  [labels]="labels"
                  [chartType]="lineChartType"
                  [options]="lineChartOptions"
                  (chartHover)="showAdvData($event)"></canvas>
    </div>
    <!-- <line-graph class="col-lg-9" [chartData]=dataHolder></line-graph> -->
  </div>
<!-- </div> -->

  <!-- <div id="chart-view">
    <div id="chart-container">
        <ul>
            <li>
                <div class="value">
                    <h3>Value:</h3>
                </div>
                <div class="timestamp">
                    <h3>Time Stamp:</h3>
                </div>
                <div class="timestamp">
                    <h3>Flag:</h3>
                </div>
            </li>
            <li *ngFor="let data of dataHolder">
                <div *ngIf="data['Flag Type'] == 4" class="value ok">
                    {{data.Value}}
                </div>
                <div *ngIf="data['Flag Type'] == 4" class="timestamp ok">
                    {{data["Time Stamp"]}}
                </div>
                <div *ngIf="data['Flag Type'] == 4" class="timestamp ok">
                    {{data["Flag Name"]}}
                </div>

                <div *ngIf="data['Flag Type'] < 4" class="value bad">
                    {{data.Value}}
                </div>
                <div *ngIf="data['Flag Type'] < 4" class="timestamp bad">
                    {{data["Time Stamp"]}}
                </div>
                <div *ngIf="data['Flag Type'] < 4" class="timestamp bad">
                    {{data["Flag Name"]}}
                </div>
            </li>
        </ul>
    </div>
</div> -->
