<ul>
  <li  class="active" (click)="updateBar($event)"><a routerLink="/flag">Flag</a></li>
  <li class="dvdr">|</li>
  <li  (click)="updateBar($event)"><a routerLink="/datavis">Data Visualization Dashboard</a></li>
  <li class="dvdr">|</li>
  <li (click)="updateBar($event)"><a  routerLink="/config">Configuration</a></li>
  <li class="dvdr">|</li>
  <li (click)="updateBar($event)"><a  routerLink="/demo">Demo</a></li>
  <li (click)="updateBar($event)" style="float:right"><a routerLink="/about">About</a></li>
</ul>
